<h1>Student Form</h1>

<form action="<%= students_path %>" method="post">
  <label>Student title:</label><br>
  <input type="text" id="student_title" name="student[title]"><br>

  <label>Student description:</label><br>
  <textarea id="student_description" name="student[description]"></textarea><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
